@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Montserrat&display=swap&subset=latin-ext");

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  --navi-color: rgba(148, 11, 153, 0.35) ;
  --main-color: rgba(156, 105, 204, 0.74);
  --dark-main-color: #721497;
  --light-main-color: rgb(252, 252, 252);
  --dark-color: rgb(78, 76, 77);
  --light-color: rgb(249, 235, 255);
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--dark-color);
  background: var(--light-color);
}

.headerDarkName {
  font-family: "Comfortaa", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  display: inline-block;
  transform: scale(0);
  animation: pop-up 0.8s forwards;

}
h1 .headerDarkName {
  animation-delay: 1s;
}

h3 .headerLightName {
    animation-delay: 2s;

}
.headerLightName {
  color: var(--main-color);
  font-size: 1.5em;
      display: inline-block;
  transform: scale(0);
  animation: pop-up 2s forwards;
}
.logoName {
  width: 100%;
  text-align: center;
}
.iconHeader {
  padding: 5px;
  color: var(--dark-main-color);
  animation: enter 2s ease-in-out both;

}
.iconHeader :hover {
  color: var(--main-color)
}

.icon :hover {
  color: var(--main-color)
}

.icon {
padding: 5px;
color: var(--dark-main-color);
}

header img {
  border-radius: 50%;
  width: 150px;
  border: 1px solid;
    animation: enter 2s ease-in-out both;
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
  flex-wrap: wrap;
  padding: 2em;
  background: var(--light-color);
  background: linear-gradient(
    0deg,
   var(--light-color) 44%,
   var(--navi-color)100% );
}

#scrollDownButton a {
  padding-top: 60px;
  animation:pop-up 3s  forwards;

}
#scrollDownButton a span {
  position: absolute;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid var(--main-color);
  border-radius: 100%;
  box-sizing: border-box;
}
#scrollDownButton a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#scrollDownButton:hover {
   transform: scale(1.1);
   opacity: 0.6;
}

.socialMedia {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;;
}

@keyframes pop-up {
  0% {
    transform: scale(0) translateY(-10px);
    opacity: 0;
  }

  80% {
    transform: scale(1.2) translateY(-2px);
    opacity: 0.8;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes enter {
  from {
    opacity: 1;
    transform: scale(0)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

.aboutSection,
.contactSection
{
  padding: 20px 0;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;

}

@media(min-width:1024px) {

  main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
    box-shadow: 0px 0px 15px lightgray;
  }
}
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  margin: 0 auto;
}

.contactForm label {
  display: block;
  padding: 20px 0 5px;
  width: 66%;
  font-size: .8rem;
  color: var(--dark-main-color)
}


.name,
.email,
.message {
  display: block;
  padding: 5px 10px 5px;
  min-width: 66%;
  max-width: 66%;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--main-color);
  background: none;
  font-size: 1rem;
  font-family: "Comfortaa", sans-serif;

}
.message {
  border-color: var(--main-color);
}

.name:focus,
.email:focus,
.message:focus {
  background: var(--light-main-color);
  outline: none;
}

.error {
  color: rgb(199, 0, 0);
  font-size: 10px;
}

.formButton {
  margin: 30px 0;
  padding: 10px 30px;
  border: 3px solid var(--main-color);
  color: var(--dark-main-color);
  background: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transition: .3s;
  cursor: pointer;
}

.formButton:hover {
  background: var(--main-color);
}

.red,
.green {
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.red {
  background: darkred;
}

.green {
  background: green;
}
/* .contactFormWrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */
.sendMeAMessage {
  margin:30px;
  text-align: center;
}
@media(min-width:1024px) {
  .contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

}

@media only screen and (max-width: 768px) {
  #header {
    max-height: 90vh;
    padding: 0px 15px;
  }
  .headerDarkName {
    line-height: 2rem;
    font-size: 1.8rem;
  }
  .headerLightName{
    font-size: 1.1rem;
  }
  h3{
    padding-bottom: 0.5rem;
  }
  h1{
    line-height: 3rem;
  }
}
