.introduction {
  width: 100%;
  min-height: 50px;
  margin: auto;
  padding: 0px 30px;
}
.aboutMeIntro {
  text-align: justify;
  padding: 15px 0;
  text-indent: 1.5rem;
}

.woodstock img {
    max-height: 100px;
    max-width: 150px;;
}

.woodstockWrapper {
  margin: 20px;
    display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
  flex-wrap: wrap;
}

.woodstock {
  text-align: center;
}
.counter {
  font-size: 2rem;
  color: var(--dark-color);
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;;
}

.skills {
   width: 100%;
  min-height: 50px;
  padding: 40px 40px;
  text-align: center;

}

.skillsHeader {
  padding: 10px 10px 30px 10px;
  margin: 30px;
  text-indent: 1.5rem;

}
.skillset {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skillset span {
  position: absolute;
  top: -2rem;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
  background: var(--main-color);
  opacity: 0;
  font-size: 1rem;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}
.skillset .icon:hover+span {
  opacity: 3;
}
.descriptionNone {
  opacity: 1;
  font-size: .8rem;
  margin-bottom:50px;
}
