@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Montserrat&display=swap&subset=latin-ext");

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  --main-color: rgba(223, 75, 39, 0.849);
  --dark-main-color: #b12a02;
  --light-main-color: rgb(250, 221, 193);
  --dark-color: rgb(95, 90, 90);
  --light-color: rgb(255, 252, 247);
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--dark-color);
  background: var(--light-color);
}

.headerDarkName {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
      display: inline-block;
  transform: scale(0);
  animation: pop-up 0.1s forwards;

}
h1 .headerDarkName {
  animation-delay: 2.05s;
}

h3 .headerLightName {
    animation-delay: 2.5s;

}
.headerLightName {
  color: var(--main-color);
  font-size: 25px;
      display: inline-block;
  transform: scale(0);
  animation: pop-up 0.25s forwards;
}
.logoName {
  width: 100%;
  text-align: center;

}
header img {
  border-radius: 50%;
  width: 150px;
  border: 2px solid;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
  flex-wrap: wrap;
  padding: 2em;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 44%,
    rgba(255, 141, 103, 1) 100%
  );
}

.scrollDown {
  position: relative;
  width: 1px;
  height: 15vh;
  background-color: var(--main-color);
  animation: pop-up 0.4s forwards;
}

.scrollDown::before,
.scrollDown::after {
  content: "";
  position: absolute;
}

.scrollDown::before {
  bottom: 0;
  width: 1vh;
  height: 1vh;
  border: 1px solid var(--main-color);
  border-top-color: transparent;
  border-right-color: transparent;
  transform: translateX(-50%) rotate(-45deg);
    animation-delay: 3s;

}

@keyframes pop-up {
  0% {
    transform: scale(0) translateY(-10px);
    opacity: 0;
  }

  80% {
    transform: scale(1.2) translateY(-2px);
    opacity: 0.8;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
