@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Montserrat&display=swap&subset=latin-ext");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: rgba(156, 105, 204, 0.74);
  --dark-main-color: #721497;
  --light-main-color: rgb(252, 252, 252);
  --dark-color: rgb(78, 76, 77);
  --light-color: rgb(249, 235, 255);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-color);
  background: var(--light-color);
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
}

h3 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 1.5rem;
}

h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 1rem;
  width: 2rem;
  height: 4rem;
  background: var(--main-color);
  z-index: -1;
}


h3:first-letter {
  display: block;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 2rem;
  padding: 0 .2rem 0 1.1rem;
  letter-spacing: 5px;
}

h4 {
  font-family: 'Comfortaa', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
}

button {
  font-family: 'Montserrat', sans-serif;
}

button:focus {
  outline: none;
}

p {
  line-height: 1.5rem;
}
